In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
person_raw = pd.read_csv('../data/person-subset-2.5percent.csv')

In [3]:
execfile('../python/clean_data_person.py')

78320 rows before removing children
60357 rows after removing children

In [4]:
df = df[important_features]

### Variable Overview

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60357 entries, 0 to 78317
Data columns (total 11 columns):
PINCP      60357 non-null float64
POVPIP     57892 non-null float64
JWMNP      32486 non-null float64
AGEP       60357 non-null int64
PWGTP      60357 non-null int64
PAP        60357 non-null float64
CIT    60357 non-null object
OC     60357 non-null bool
ENG    60357 non-null object
COW        60357 non-null object
PUMA       60357 non-null category
dtypes: bool(1), category(1), float64(4), int64(2), object(3)
memory usage: 4.8+ MB

As we can see, all of the variables we are looking at appear to have a complete response. Only two variables seem to be missing values:
`JWMNP` (missing 46%)
`POVPIP` (missing 5%)

Based on this, we will proceed cautiously with proividing analysis based on these two variables. Eventually, we may decide to impute the data based on a linear regression for these continuous variables or perhaps another technique.

### Summary Statistics for continuous variables

In [6]:
df[important_continuous_features].describe().astype('int64')

         PINCP  POVPIP  JWMNP   AGEP  PWGTP    PAP
count    60357   57892  32486  60357  60357  60357
mean     38326     315     26     49     99     50
std      54908     164     22     18     80    661
min     -12200       0      1     19      1      0
25%       9000     171     10     34     52      0
50%      24000     325     20     50     77      0
75%      49000     501     30     63    120      0
max    1027000     501    167     95   1505  30000

### Summary Statistics for categorical variables

In [7]:
df[importegorical_features].describe()

        CIT OC              ENG                 COW   PUMA
count     60357  60357                60357               60357  60357
unique        5      1                    5                  10    982
top     US Born  False  Speaks only English  Private for Profit    300
freq      51267  60357                49745               28942   1383